td,th{
  font-size: 1.6rem;
  min-width: 120px;
}

h2{
  margin-bottom: 2rem;
  padding: 1rem 0 0;
  text-transform: capitalize;
}
th{
  /*white-space: nowrap;*/
}

/*.table-responsive-private{*/
/*  overflow-x: auto;*/
/*}*/
.abc{
  width: 5000px;
  height: 300px;
  background-color: red;
}

.control{
  width: 100%;
  overflow-x: scroll;
}

.container{
  background-color: #fff;
  height: 100vh;
}

.table{
  width: 100%;
  background-color:#fff;
}
