<div class="app">
  <div class="app-directive">
    <span><span></span>Mua thêm sản phẩm</span>
    <span>Giỏ hàng của bạn</span>
  </div>
  <div class="app__content">
    <div class="app__content-product">
      <div class="app__content-product-infor">
        <div class="product__infor-img">
          <img src="./assets/image/laptopdetail/lap1/hp-340s-g7-i3-240q4pa-3-org.jpg" alt="">
          <div class="delete-icon"><span><i class="las la-minus-circle"></i></span>Xóa</div>
        </div>
        <div class="product__infor-description">
          <h4>Laptop Lenovo Legion 5 15IMH05 i7 10750H/8GB/256GB+1TB/120Hz/4GB GTX1650/Win10 (82AU0051VN)</h4>
        </div>
      </div>
      <div class="app__content-product-price">
        <div>
          <span>20.000.000 <sup>đ</sup></span>
          <span>20.000.000 <sup>đ</sup></span>
        </div>
      </div>
    </div>
    <div class="app__content-product">
      <div class="app__content-product-infor">
        <div class="product__infor-img">
          <img src="./assets/image/laptopdetail/lap1/hp-340s-g7-i3-240q4pa-3-org.jpg" alt="">
          <div class="delete-icon"><span><i class="las la-minus-circle"></i></span>Xóa</div>
        </div>
        <div class="product__infor-description">
          <h4>Laptop Lenovo Legion 5 15IMH05 i7 10750H/8GB/256GB+1TB/120Hz/4GB GTX1650/Win10 (82AU0051VN)</h4>
        </div>
      </div>
      <div class="app__content-product-price">
        <div>
          <span>20.000.000 <sup>đ</sup></span>
          <span>20.000.000 <sup>đ</sup></span>
        </div>
      </div>
    </div>
    <div class="coutn__bill">
      <p class="code-discount"><i class='bx bxs-discount'></i>Sử dụng mã giảm giá</p>
      <div class="provisional">
        <span>Tạm tính (1 sản phẩm):</span>
        <span>25.990.000 <sup>đ</sup></span>
      </div>
      <div class="total-bill">
        <span>Tổng  tiền:</span>
        <span>25.990.000 <sup>đ</sup></span>
      </div>
    </div>
    <div class="infor-customer">
      <h4>Thông tin khách hàng</h4>
      <p><span>Anh Duong</span> - <span>0775562121</span> <span>Sửa</span></p>
      <h4>Chọn cách thức nhận hàng</h4>
      <div class="delivery-way">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Nhận hàng tại siêu thị</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Giao hàng tận nơi</label>
        </div>
      </div>
    </div>
    <div class="required-part">
      <input type="text" class="form-control required-part-input" placeholder="Yêu cầu khác (Không bắt buộc)">
        <div class="required-part-group">
          <input type="checkbox">
          <label>Gọi Cho người khác nhận hàng (Nếu không có)</label>
        </div>
      <div class="required-part-group">
        <input type="checkbox">
        <label>Chuyển danh bạ dữ liệu cho máy mới</label>
      </div>
      <div class="required-part-group">
        <input type="checkbox">
        <label>Xuất hóa đơn công ty</label>
      </div>
    </div>
    <div class="submit-part">
      <div class="total-bill">
        <span>Tổng  tiền:</span>
        <span>25.990.000 <sup>đ</sup></span>
      </div>
      <button type="button">Đặt hàng</button>
    </div>
  </div>
</div>
