<div class="grid wide">
  <app-filter></app-filter>
  <div class="part__sale">
    <h2 class="part__sale-title">Săn Sale Online Mỗi Ngày</h2>
    <div class="part__sale-list">
      <app-highlight-product></app-highlight-product>
    </div>
  </div>
  <div class="part-monitor">
    <h2 class="part__sale-title black-color">PC, AIO, SERVER</h2>
    <div class="part__sale-list">
      <app-highlight-pc></app-highlight-pc>
    </div>
  </div>
  <div class="part-monitor ">
    <h2 class="part__sale-title black-color">Màn hình máy tính</h2>
    <div class="part__sale-list">
      <app-highlight-monitor></app-highlight-monitor>
    </div>
  </div>
  <div class="part-monitor">
    <h2 class="part__sale-title black-color">PHÍM CHUỘT, GAMING GEAR</h2>
    <div class="part__sale-list">
      <app-highlight-mouse-keys></app-highlight-mouse-keys>
    </div>
  </div>
  <div class="part-monitor">
    <h2 class="part__sale-title black-color">LINH KIỆN MÁY TÍNH</h2>
    <div class="part__sale-list">
      <app-highlight-accessories></app-highlight-accessories>
    </div>
  </div>
</div>
