<div class="content-area-create">
  <form *ngIf="computerForm" [formGroup]="computerForm" (ngSubmit)="onSubmit()">
    <div class="create-computer">
      <div class="form-input">
        <div class="create-title">Thêm mới Máy tính
          <button type="reset"><span><i class='bx bx-refresh'></i></span></button>
        </div>
        <div class="container">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="exampleFormControlInput1">Tên sản phẩm (*):</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Dell precision ..."
                     formControlName="nameProduct">
              <div  class="text-danger" *ngFor="let validation of validation_msg.nameProduct">
                <div class="error-massage"
                     *ngIf="computerForm.get('nameProduct').hasError(validation.type)&&(computerForm.get('nameProduct').dirty||computerForm.get('nameProduct').touched)">
                  {{validation.message}}
                </div>
                <div *ngIf="computerError?.nameProduct">{{computerError.nameProduct}}</div>
              </div>
              
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="ram">RAM(*):</label>
              <input type="text" class="form-control" id="ram" formControlName="ram">
              <div class="text-danger" *ngFor="let validation of validation_msg.ram">
                <div class="error-massage"
                     *ngIf="computerForm.get('ram').hasError(validation.type)&&(computerForm.get('ram').dirty||computerForm.get('ram').touched)">
                  {{validation.message}}
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="cpu">CPU(*):</label>
              <input type="text" class="form-control" id="cpu" formControlName="cpu">
              <div class="text-danger" *ngFor="let validation of validation_msg.cpu">
                <div class="error-massage"
                     *ngIf="computerForm.get('cpu').hasError(validation.type)&&(computerForm.get('cpu').dirty||computerForm.get('cpu').touched)">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="screen">Màn hình(*):</label>
              <input type="text" class="form-control" id="screen" formControlName="screen">
              <div class="text-danger" *ngFor="let validation of validation_msg.screen">
                <div class="error-massage"
                     *ngIf="computerForm.get('screen').hasError(validation.type)&&(computerForm.get('screen').dirty||computerForm.get('screen').touched)">
                  {{validation.message}}
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="operatingSystem">Hệ điều hành(*):</label>
              <input type="text" class="form-control"  id="operatingSystem" formControlName="operatingSystem">
              <div class="text-danger" *ngFor="let validation of validation_msg.operatingSystem">
                <div class="error-massage"
                     *ngIf="computerForm.get('operatingSystem').hasError(validation.type)">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="hardDrive">Ổ cứng(*):</label>
              <input type="text" class="form-control" id="hardDrive" formControlName="hardDrive">
              <div class="text-danger" *ngFor="let validation of validation_msg.hardDrive">
                <div class="error-massage"
                     *ngIf="computerForm.get('hardDrive').hasError(validation.type)&&(computerForm.get('hardDrive').dirty||computerForm.get('hardDrive').touched)">
                  {{validation.message}}
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="graphicCard">Card màn hình(*):</label>
              <input type="text" class="form-control" id="graphicCard" formControlName="graphicCard">
              <div class="text-danger" *ngFor="let validation of validation_msg.graphicCard">
                <div class="error-massage"
                     *ngIf="computerForm.get('graphicCard').hasError(validation.type)&&(computerForm.get('graphicCard').dirty||computerForm.get('graphicCard').touched)">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="warehouse">Số lượng nhập kho(*):</label>
              <input type="text" class="form-control" id="warehouse" formControlName="warehouse">
              <div class="text-danger" *ngFor="let validation of validation_msg.warehouse">
                <div class="error-massage"
                     *ngIf="computerForm.get('warehouse').hasError(validation.type)&&(computerForm.get('warehouse').dirty||computerForm.get('warehouse').touched)">
                  {{validation.message}}
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="importPrice">Giá Nhập kho(*):</label>
              <input type="text" class="form-control" id="importPrice" formControlName="importPrice">
              <div class="text-danger" *ngFor="let validation of validation_msg.importPrice">
                <div class="error-massage"
                     *ngIf="computerForm.get('importPrice').hasError(validation.type)&&(computerForm.get('importPrice').dirty||computerForm.get('importPrice').touched)">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="listedPrice">Giá niêm yết(*):</label>
              <input type="text" class="form-control" id="listedPrice" formControlName="listedPrice">
              <div class="text-danger" *ngFor="let validation of validation_msg.listedPrice">
                <div class="error-massage"
                     *ngIf="computerForm.get('listedPrice').hasError(validation.type)&&(computerForm.get('listedPrice').dirty||computerForm.get('listedPrice').touched)">
                  {{validation.message}}
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="discount">Giảm giá(*):</label>
              <input type="text" class="form-control" id="discount" formControlName="discount">
              <div class="text-danger" *ngFor="let validation of validation_msg.discount">
                <div class="error-massage"
                     *ngIf="computerForm.get('discount').hasError(validation.type)&&(computerForm.get('discount').dirty||computerForm.get('discount').touched)">
                  {{validation.message}}
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Hãng máy tính (*):</label>
              <select class="form-control" formControlName="categoryId">
                <option [ngValue]="null" disabled>--Chọn hãng máy tính--</option>
                <option *ngFor="let category of categories" [ngValue]="category.idCategory">
                  <span>{{category.nameCategory}}</span></option>
              </select>
            </div>
          </div>
          <div class="form-row" style="justify-content: space-between">
            <button type="submit" class="btn btn-primary">Tạo mới</button>
            <button type="button" class="btn btn-primary">Hủy bỏ</button>
          </div>
        </div>
      </div>
      <div class="form-img">
        <div class="display-image"
             [ngStyle]="{'background-image': base64textString.length===0?'url(assets/image/cloud-upload-a30f385a928e44e199a62210d578375a.jpg)':''}">
          <img *ngFor="let item of base64textString" src={{item}} alt="">
          <p [ngStyle]="{'display':base64textString.length===0?'block':'none'}">No file choosen, yet</p>
        </div>
        <input id="choose-file" class="choose-image" type="file" multiple (change)="onUploadChange($event)"
               accept=".png, .jpg, .jpeg, .pdf" formControlName="imageProduct">
        <label for="choose-file">Chọn Ảnh</label>
        <div class="text-danger" *ngFor="let validation of validation_msg.imageProduct">
          <div class="error-massage"
               *ngIf="computerForm.get('imageProduct').hasError(validation.type)&&(computerForm.get('imageProduct').dirty||computerForm.get('imageProduct').touched)">
            {{validation.message}}
          </div>
        </div>
        <span>Tính năng máy tính (*):</span>

        <ng-container *ngFor="let item of featureComputers;index as i">
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="alias-{{i}}" type="checkbox" [value]="item.featureComputerId"
                   (change)="onCheckChange($event)">
            <label class="form-check-label" for="alias-{{i}}">{{item.name}}</label>
          </div>
        </ng-container>

        <span>Loại Máy tính(*):</span>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="typeComputerId" id="inlineRadio1" value="1"
                 formControlName="typeComputerId">
          <label class="form-check-label" for="inlineRadio1">Laptop</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="typeComputerId" id="inlineRadio2" value="2"
                 formControlName="typeComputerId">
          <label class="form-check-label" for="inlineRadio2">Pc,AIO,Server</label>
        </div>
      </div>
    </div>
  </form>
</div>
