.my-app{
  display: flex;
  justify-content: space-between;
}
#nav-toggle {
  display: none;
}

.sidebar {
  width: 345px;
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: 300ms;
}

.sidebar-brand {
  padding: 1.5rem 3rem 0;
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 300ms;
}

.sidebar-brand span:first-child {
  padding-right: 1rem;
}

.sidebar-menu {
  padding: 2rem 0rem 0 1rem;
  transition: 300ms;
}

.sidebar-list {
  transition: 300ms;
}

.sidebar-item {
  transition: 300ms;
}

.sidebar-link {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
  padding: 1.2rem 2rem;
  display: inline-block;
  text-transform: capitalize;
  transition: 300ms;
}

.sidebar-link span {
  padding-right: 1rem;
  transition: 300ms;
}

.sidebar-link span:last-child {
  transition: 300ms;
}

.active-private {
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  background-color: white;
  color: var(--main-color) !important;
}

.content-area {
  margin-left: 345px;
  width: 100%;
}

.header-manager {
  width: calc(100% - 345px);
  position: fixed;
  top: 0;
  left: 345px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 2rem;
  border-bottom: 1px solid #ccc;
  transition: 300ms;
  z-index: 100;
  background-color: #fff;
}

.header-content-area {
  display: flex;
  align-items: center;
  transition: 300ms;
  justify-content: flex-end;
}

.content-area img {
  padding-right: 1rem;
}

.content-area div h4 {
  font-size: 1.6rem;
  color: #333;
  font-weight: 500;
}

.content-area div small {
  font-size: 1.4rem;
  color: #333;
}

.header-manager h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-manager span {
  padding-right: 1rem;
}

#nav-toggle:checked +
.sidebar {
  width: 70px;
}

#nav-toggle:checked +
.sidebar .sidebar-brand span:last-child {
  display: none;
}

#nav-toggle:checked +
.sidebar .sidebar-menu .sidebar-list
.sidebar-item .sidebar-link
span:last-child {
  display: none;
}

#nav-toggle:checked ~ .content-area {
  margin-left: 70px;
}

#nav-toggle:checked ~ .content-area .header-manager {
  width: calc(100% - 70px);
  left: 70px;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 70px;
  }

  .sidebar-link
  span:last-child {
    display: none;
  }

  .content-area .header-manager {
    width: calc(100% - 70px);
    left: 70px;
  }

  .content-area {
    margin-left: 70px;
  }

  .sidebar-brand span:last-child {
    display: none;
  }
}

.content-area-main {
  box-sizing: border-box;
  background-color: #f8f8f8;
  margin-top: 60px;
  width: 100%;
  padding: 2rem;
}

.choose-create {
  display: flex;
  text-align: center;
  margin-bottom: 2rem;
}

.choose-create select {
  width: 300px;
  font-size: 16px;
  border-color: #cccccc;
}

.choose-create select:checked {
  border-color: #ccc;
}

.choose-create label {
  width: max-content;
  font-size: 1.6rem;
  color: #222;
  line-height: 27px;
  margin: 0;
  padding-right: 1rem;
  padding-top: 0.4rem;
}

.choose-create button {
  margin-left: auto;
  font-size: 16px;
}

.choose-create .btn {
  background-color: var(--main-color);
  color: white;
}

.navigation-bar {
  background-color: var(--main-color);
  margin-bottom: 0;
  width: 100%;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navigation-item {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid #ccc;
  height: 100%;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
  cursor: pointer;
  flex: 1;
}
