<div id="mouse-keys" class="carousel slide" data-ride="carousel ">
  <div class="carousel-inner grid wide">
    <div class="carousel-item active carousel-control-private">
      <div class="row">
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
      </div>
    </div>
    <div class="carousel-item carousel-control-private">
      <div class="row">
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
      </div>
    </div>
    <div class="carousel-item carousel-control-private">
      <div class="row">
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
      </div>
    </div>
    <div class="carousel-item carousel-control-private">
      <div class="row">
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
      </div>
    </div>
    <div class="carousel-item carousel-control-private">
      <div class="row">
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
        <div class="col-private grid__col-5"><div class="home__product-card">
          <div class="home__product-card-image"
               style="background-image: url(assets/image/250-22749-screenshot_4.png)"></div>
          <h5 class="home__product-name">[Astore] bàn gấp thông minh có khe cắm ipad và điện thoại màu đen FREE SHIP THEO
            TIÊU CHUẨN SHOPPEE
            tiện dụng</h5>
          <div class="home__product-price">
            <span class="home__product-old-price">20.000.000 đ</span>
            <span class="home__product-current-price">19.400.000 đ</span>
          </div>
          <div class="home__product-action">
                      <span class="action-like">
                        <i class="far fa-heart"></i>
                        <!--                  <i class="fas fa-heart"></i>-->
                      </span>
            <div class="action-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <span class="action-sold"> 33 Đã bán </span>
          </div>
          <div class="home__product-card-origin">
            <span class="product-brand">Whoo</span>
            <span class="product-origin-name">Japan</span>
          </div>
          <div class="home__product-favorite">
                    <span>  <i class="fas fa-check"></i>
                      Yêu thích</span>
          </div>
          <div class="home__product-sale-off">
            <span class="sale-off-percent">10%</span><br>
            <span class="sale-off-lable">Giảm</span>
          </div>
        </div></div>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev carousel-directive-mouse-keys" href="#mouse-keys" data-slide="prev" style="
    width: 5%;
    background-color: rgba(0,0,0,0);
    margin-top: 10%;
    margin-bottom: 10%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next carousel-directive-mouse-keys" href="#mouse-keys" data-slide="next" style="
    width: 5%;
    background-color: rgba(0,0,0,0);
    margin-top: 10%;
    margin-bottom: 10%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


