<!-- modal css -->
<div class="modal">
  <div class="modal__overlay"></div>
  <div class="modal__body">
    <div class="authenticate-form">
      <div class="authenticate-form__container">
        <div class="authenticate-form__header">
          <h3 class="authenticate-form__heading">Đăng ký</h3>
          <span class="authenticate-form__switch-btn">Đăng Nhập</span>
        </div>
        <div class="authenticate-form_form">
          <div class="authenticate-form__group">
            <input type="text" class="authenticate-form__input" placeholder="Nhap email">
          </div>
          <div class="authenticate-form__group">
            <input type="password" class="authenticate-form__input" placeholder="Nhap mật khẩu">
          </div>
          <div class="authenticate-form__group">
            <input type="text" class="authenticate-form__input" placeholder="Nhap lại mật khẩu">
          </div>
        </div>
        <div class="authenticate-form_aside">
          <p class="authenticate-form__policy-list">
            Bằng việc đăng ký bạn đã đồng ý với shoppe về
            <a class="authenticate-form__link" href="">Điều khoản dịch vụ</a>&
            <a class="authenticate-form__link" href="">Chính sách bảo mật</a>
          </p>
        </div>
        <div class="authenticate-form__controler">
          <button class="btn btn--normal" [routerLink]="['/client']">TRỞ LẠI</button>
          <button class="btn btn__primary">ĐĂNG KÝ</button>
        </div>
      </div>
      <div class="authenticate-form__socials">
        <a class="authenticate-form__socials-facebook btn--with-icon btn">
          <i class="authenticate-form__socials-icon fab fa-facebook"></i>
          Kết Nối facebook
        </a>
        <a href="" class="authenticate-form__socials-google btn--with-icon btn">
          <i class="authenticate-form__socials-icon fab fa-google"></i> Kết Nối Google
        </a>
      </div>
    </div>
  </div>
</div>
