<footer>
  <div class="grid wide">
    <div class="row">
      <div class="col l-3">
        <ul class="footer-infor">
          <li>Lich sử mua hàng</li>
          <li>Cộng tác cùng Shopee</li>
          <li>Tìm hiểu mua trả góp</li>
          <li>Chính sách bảo hành</li>
          <li>Xem thêm</li>
        </ul>
      </div>
      <div class="col l-3">
        <ul class="footer-infor">
          <li>Giới thiệu về công ty</li>
          <li>Gửi góp ý , khiếu nại</li>
          <li>Tìm siêu thị</li>
          <li>Xem bản mobile</li>
          <li>Tuyển dụng</li>
        </ul>
      </div>
      <div class="col l-3">
        <ul class="footer-infor">
          <li>Tổng đài hỗ trợ</li>
          <li>Gọi mua: 1800.1060</li>
          <li>Kỹ thuật: 1800.1763</li>
          <li>Khiếu nại: 1800.1062</li>
          <li>Bảo hành: 1800.1064</li>
        </ul>
      </div>
      <div class="col l-3">
        <ul class="footer-infor">
          <li><span style="margin-right: 8px;color: var(--second-color);font-size: 1.8rem"><i class="lab la-facebook"></i></span> <span style="margin-right: 16px;color:#fff">3661.5k fan</span> <span style="margin-right: 8px;color: #f3215c"><i class="lab la-youtube"></i></span> <span style="color: #fff">600k đăng ký</span></li>
          <li><img src="./assets/image/logoSaleNoti.png" style="width: 70px"></li>
          <li>Tìm hiểu mua trả góp</li>
          <li>Chính sách bảo hành</li>
          <li>Xem thêm</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="grid" style="background-color: #cccccc;padding-top: 12px;opacity: 0.4">
    <div class="grid wide" style="color: #222">© 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007. GPMXH: 238/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày 04/06/2020.
      Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 028 38125960. Email: cskh@thegioididong.com. Chịu trách nhiệm nội dung: Huỳnh Văn Tốt. Xem chính sách sử dụng</div>
  </div>
</footer>
