<!--<div class="row">-->
<!--  <ul class="filter-list">-->
<!--    <li class="filter__item"><span><i class="fas fa-filter"></i></span>Bộ lọc</li>-->
<!--    <li class="filter__item">-->
<!--      <span (click)="changeStatus()">Hãng <span><i class="fas fa-chevron-down"></i></span></span>-->
<!--      <div class="category-filter-table" [ngStyle]="{'display':isBoolean===true?'none':'block'}">-->
<!--       <div class="category-filter-list">-->
<!--         <div class="category-image" *ngFor="let category of categories" (click)="numberProduct(category.idCategory)">-->
<!--           <img src="/assets/image/logo/{{category.image}}">-->
<!--         </div>-->
<!--         <span></span>-->
<!--       </div>-->
<!--        <div class="category-filter-control">-->
<!--          <button class="btn btn-primary" (click)="searchCategory()" >Xem {{numberCurrentProduct===0?'':numberCurrentProduct}} sản phẩm</button>-->
<!--          <button class="btn btn-danger" (click)="changeStatus()">Hủy bỏ</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </li>-->
<!--    <li class="filter__item">-->
<!--      <span>Giá <span><i class="fas fa-chevron-down"></i></span></span>-->
<!--    </li>-->
<!--    <li class="filter__item">-->
<!--      <span>Nhu cầu <span><i class="fas fa-chevron-down"></i></span></span>-->
<!--    </li>-->
<!--    <li class="filter__item">-->
<!--      <span>Kích thước man hình <span><i class="fas fa-chevron-down"></i></span></span>-->
<!--    </li>-->
<!--    <li class="filter__item">-->
<!--      <span> CPU <span><i class="fas fa-chevron-down"></i></span></span>-->
<!--    </li>-->
<!--    <li class="filter__item">-->
<!--      <span>RAM <span><i class="fas fa-chevron-down"></i></span></span>-->
<!--    </li>-->
<!--    <li class="filter__item">-->
<!--      <span> Ổ cứng <span><i class="fas fa-chevron-down"></i></span></span>-->
<!--    </li>-->
<!--    <li class="filter__item">-->
<!--      <span>Card đồ họa <span><i class="fas fa-chevron-down"></i></span></span>-->
<!--    </li>-->
<!--    <li class="filter__item">-->
<!--      <span>Độ phân giải<span><i class="fas fa-chevron-down"></i></span></span>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
